services:
  php-app:
    build: .
    container_name: php-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html/laravel
    depends_on:
      - mysql-db

  nginx-web:
    image: nginx:alpine
    container_name: nginx-web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-app

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: root       # <-- dùng root để phpMyAdmin có quyền full
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql-db
      PMA_USER: root       # <-- dùng root để thấy nút New
      PMA_PASSWORD: root
    depends_on:
      - mysql-db

volumes:
  db_data:
